<% provide :title, 'Login' %>
<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <%= render 'sessions/components/login_header' %>
    <%= render 'sessions/components/login_form' %>
    <%= render 'sessions/components/login_footer' %>
  </div>
</div>