<% provide :title, 'Register' %>
<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <%= render 'registrations/components/registration_header' %>
    <%= render 'registrations/components/registration_form' %>
    <%= render 'registrations/components/registration_footer' %>
  </div>
</div>

