<form class="m-t" role="form" action="#">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="First name" required="">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Last name" required="">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" required="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" required="">
  </div>
  <div class="form-group">
    <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
  </div>
  <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

  <p class="text-muted text-center"><small>Already have an account?</small></p>
  <%= link_to 'Login', login_path, class: 'btn btn-sm btn-white btn-block' %>
</form>