/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.icheck{
  label{
    padding-left: 10px;
    font-weight: bold;
  }
}

.nav-profile{
  width: 48px;
  height: 48px;
}

.btn-block-last{
  margin-bottom: 20px;
}