<div class="row">
  <div class="col-md-6 text-left">
    <p class="m-t"> <small>&copy; <%= Time.now.year %> Floworx</small></p>
  </div>
  <div class="col-md-6 text-right">
    <p class="m-t">
      <%= link_to 'Terms', front_terms_path %> - <%= link_to 'Privacy', front_privacy_path %>
    </p>
  </div>
</div>