<form class="m-t" role="form" action="#">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Username" required="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" required="">
  </div>
  <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

  <a class="btn btn-sm btn-white btn-block btn-block-last" href="#">Forgot password?</a>

  <p class="text-muted text-center"><small>Do not have an account?</small></p>
  <%= link_to 'Create an account', registration_path, class: 'btn btn-sm btn-white btn-block' %>
</form>