<% provide(:title, 'About') %>
<h2>About</h2>
<p>Floworx is a platform to make Architecture projects easier</p>
<%= link_to 'Home', root_path %>
<%= link_to 'Contact', front_contact_path %>
<%= link_to 'Terms', front_terms_path %>
<%= link_to 'Privacy', front_privacy_path %>