<% provide(:title, 'Contact') %>
<h2>Contact</h2>
<p>Contact Floworx at:</p>
<%= link_to 'Home', root_path %>
<%= link_to 'About', front_about_path %>
<%= link_to 'Terms', front_terms_path %>
<%= link_to 'Privacy', front_privacy_path %>