<h2>Home</h2>
<%= link_to 'About', front_about_path %>
<%= link_to 'Contact', front_contact_path %>
<%= link_to 'Terms', front_terms_path %>
<%= link_to 'Privacy', front_privacy_path %>
<%= link_to 'Login', login_path %>