<% provide(:title, 'Privacy') %>
<h2>Privacy</h2>
<%= link_to 'Home', root_path %>
<%= link_to 'About', front_about_path %>
<%= link_to 'Contact', front_contact_path %>
<%= link_to 'Terms', front_terms_path %>
