<% provide(:title, 'Terms') %>
<h2>Terms</h2>
<%= link_to 'Home', root_path %>
<%= link_to 'About', front_about_path %>
<%= link_to 'Contact', front_contact_path %>
<%= link_to 'Privacy', front_privacy_path %>
